*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.page1
{
    height: 100vh;
    width: 100%;
    background-color: salmon;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page2
{
    height: 100vh;
    width: 100%;
    background-color: rgba(41, 181, 237, 0.623);
    display: flex;
    align-items: center;
    justify-content: center;
}
.page3
{
    height: 100vh;
    width: 100%;
    background-color: goldenrod;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box
{
    height: 200px;
    width: 200px;
    background-color: white;
}